@model MvcVhsLibrary.Models.VHSTape

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4><strong>@Html.DisplayFor(model => model.MovieName)</strong></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class = "col-sm-10">
            <a href="//google.com/search?query=@Html.DisplayFor(model => model.Barcode)">@Html.DisplayFor(model => model.Barcode)</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
